@model HomeViewModel

 <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BookShop</title>
    <link rel="stylesheet" href="~/css/style.css" />
  </head>
  <body>
    <style>

        .carousel-item
        {
           height: 8rem; 

        }
     
        
        
    </style>
    <partial name="_Carousel" />

    <div class="text-center mt-3">
        <img src="~/Images/logo.png" class="img-fluid" width="300px" height="300px" alt="logo">
    </div>
    <h2 class="text-center mt-5 customTextColor font-weight-bold" style="cursor:default">Most Sold Books</h2>
    <div class="row row-cols-1 row-cols-md-6 g-1 w-100 d-flex justify-content-center">
        @foreach (var book in Model.mostSoldBooks)
        {
            <partial name="_BookCard" model="book" />


        }
    </div>
  </body>
</html>