


.navbarCustomTextColor {
    color: #e0b129 !important;
    -webkit-font-smoothing: subpixel-antialiased;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: .1s;
}
    .navbarCustomTextColor:hover {
        color: #ffd300 !important;
        
        transform: translateY(0px) scale(1.04);
    }

.active {
    color: #ffd300 !important;
    transform: scale(1.04) !important;
}
.scaleOnHover {
    transition: .1s;
}

.scaleOnHover:hover {

    transform: scale(1.04);
}

.customTextColor {
    color: #e0b129 !important;
}



