

<div id="carouselImages" class="carousel m-3 slide bg-dark rounded" data-bs-ride="carousel" style="border-color: #373b3e;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #373b3e;">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container align-content-lg-center" style="height:100%;">
                <div class="row justify-content-md-center">
                    <div class="col-md-auto customTextColor">
                        'To live is the rarest thing in the world. Most people exist, that is all.'
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-md-auto customTextColor">
                        -Oscar Wilde
                    </div>
                </div>

            </div>

        </div>
        <div class="carousel-item">
            <div class="container align-content-lg-center" style="height:100%;">
                <div class="row justify-content-md-center">
                    <div class="col-md-auto customTextColor">
                        'That it will never come again is what makes life so sweet.'
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-md-auto customTextColor">
                        -Emily Dickinson
                    </div>
                </div>

            </div>

        </div>
        <div class="carousel-item">
            <div class="container align-content-lg-center" style="height:100%;">
                <div class="row justify-content-md-center">
                    <div class="col-md-auto customTextColor">
                        'It is never too late to be what you might have been.'
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-md-auto customTextColor">
                        -George Eliot
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>