<div class="container-fluid  d-flex justify-content-center mt-5 me-5">
    <div class="row m-5 bg-dark customTextColor border-dark rounded-5" style="border-color: #373b3e;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #373b3e;">
        <div class="card-body m-5 " style="cursor:default">
            <h4 class="card-title text-center mb-4">We'd love to hear from You</h4>
            <p class="card-text text-center mb-4">Please contact us by sending an email using the button below</p>
            <email address="info@@bookshop.com" content="Contact us" class="btn btn-dark bg-dark d-flex justify-content-center customTextColor mt-5"></email>
        </div>
    </div>
    
</div>